.Movie {
  width: 20%;
  margin: 0.5% 2%;
}

.Movie:hover {
  cursor: pointer;
}

.Movie h1 {
  font-size: 20px;
  min-height: 45px;
  width: 80%;
  text-align: left;
  margin: 10px 0px;
}

.Movie img {
  width: 100%;
  height: auto;
  transition: all 0.2s;
}

.Movie:hover img {
  transform: scale(1.03);
}

.MovieType {
  font-size: 16px;
  font-weight: 300;
  text-transform: capitalize;
}

.FevoritWrap {
  position: relative;
}

.FevoritWrap .Fevorit {
  position: absolute;
  font-size: 200%;
  right: 0;
  z-index: 10;
  top: 0;
  transition: all 0.2s;
}

.FevoritWrap .Fevorit:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media (max-width: 767px) {
  .Movie {
    width: 45%;
  }

  .Movie h1 {
    font-size: 18px;
    min-height: 40px;
  }
}
